body {
	font-family: 'Poiret One', cursive;
	background-image: url('images/doge.png');
	text-align: center;
}
#platform {
	background-color: white;
	margin: 3.5%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	border: 0.5em solid red;
}
#startScreen {
	margin: 5%;
}
#startButton {
	font-family: 'Poiret One', cursive;
	width: 20em;
	height: 7em;
	margin-top: 17.5%;
	background-color: orange;
	border: 0.5em solid red;
	box-shadow: 0.5em 0.5em 3em;
}
#questionScreen {
	margin: 5%;
	display: none;
}
#memeImage {
	border: 0.5em solid orange;
}
#answers {
	list-style: none;
}
#wrongOrRight {
	text-align: center;
	margin-top: 3em;

}
/*.feedbackIcons {
	display: inline-block;
	height: 0.25em;
	width: 0.25em;
}*/
.answerButton {
	display: inline-block;
}
#submitButton {
	border: 0.5em solid red;
	background-color: orange;
}
#feedbackScreen {
	display: none;
}
#summary {
	margin-top: 5em;
	margin-bottom: 5em;
}
#restart {
	border: 0.5em solid red;
	background-color: orange;
	margin-bottom: 1em;
}